# OS Files
##########
.DS_Store
.vscode
.ipynb_checkpoints

# Python files
##############
# setup.py working directory
build
# setup.py dist directory
dist
# Egg metadata
*.egg-info
# Caches
__pycache__
