# OS Files
##########
.DS_Store
.vscode
.ipynb_checkpoints
*wiki_dump
*wiki_partitions
*wiki.ndjson

# Python files
##############
# setup.py working directory
build
# setup.py dist directory
dist
# Egg metadata
*.egg-info
# Caches
__pycache__

# NPM files
###########
node_modules
package-lock.json
