beautifulsoup4==4.9.3
black>=19.10b0
certifi>=2020.12.5
defusedxml==0.7.1
emoji>=2.2.0
langcodes>=3.0.0
language_data>=1.0.0
m2r2>=0.3.3
mwparserfromhell>=0.6
numpydoc>=1.6.0
packaging>=20.9
pandas>=1.5.3
pyarrow>=15.0.0
PyICU>=2.10.2
pytest-cov>=3.0.0
regex>=2023.3.23
sentencepiece>=0.1.95
SPARQLWrapper>=2.0.0
sphinx-rtd-theme>=2.0.0
tabulate>=0.8.9
tqdm==4.56.1
transformers>=4.12
