beautifulsoup4==4.9.3
certifi>=2020.12.5
defusedxml==0.7.1
emoji>=2.2.0
flax>=0.8.2
iso639-lang>=2.2.3
m2r2>=0.3.3
mwparserfromhell>=0.6
numpydoc>=1.6.0
packaging>=20.9
pandas>=1.5.3
pre-commit>=3.7.1
pytest-cov>=3.0.0
questionary>=1.10.0
regex>=2023.3.23
rich>=10.0.0
ruff>=0.3.3
SPARQLWrapper>=2.0.0
sphinx-rtd-theme>=3.0.0
tqdm==4.66.4
